# Built application files
*.apk

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# JVM crash / out-of-memory heap dumps
java_pid*.hprof

# Gradle build files
.gradle/
build/
release/

# Local configuration file (sdk path, etc)
local.properties

#Macos .DS_Store
*DS_Store

#intellij project files
*.iml
*.idea
# files from debugging desktop
/desktop/plugins/
/desktop/settings.xml
desktop/.lwjgl
/desktop/balance/
/Plugins/

#game saves
*/settings.xml
*/save/*
*/balance/balance.json
headless-desktop/headless-data/

# eclipse jdt
org.eclipse.buildship.core.prefs
org.eclipse.jdt.core.prefs
.classpath
.project
